In [1]:
print("START")

START

In [26]:
def increment(score,bonus,points):#
    if bonus == True:             #
        points = points * 2       #
    score = score  + points     ####
    return score ,points             #
points = 5 ### NO VALUE IS SPECIFIED FOR POINTS 
#SO POINTS VALUE AS 1 NEED TO DEFINE IN DEF AS REQUIREMENT
c =increment(2,True,3)
print(points,c)

5 (8, 6)

In [51]:
S ="HELLO, PYTHON!"
print(S[-14:15])

HELLO, PYTHON!

In [52]:
2**10

1024

In [53]:
try:

SyntaxError: unexpected EOF while parsing (<ipython-input-53-b2f362778157>, line 2)

In [54]:
increment(898,True ,89)

(1076, 178)

In [56]:
'Returns the current balane of bank account 
def get_balance():
    return balance #incorrect

SyntaxError: EOL while scanning string literal (<ipython-input-56-0ac1929c2b17>, line 1)

In [57]:
//Returns the current balane of bank account 
def get_balance():
    return balance #incorrect

SyntaxError: invalid syntax (<ipython-input-57-2eae24d69e1f>, line 1)

In [58]:
def get_balance():
    /* Returns the current balane of bank account */
    return balance #incorrect

SyntaxError: invalid syntax (<ipython-input-58-bef3580f98ca>, line 2)

In [59]:
def get_balance():
    # Returns the current balane of bank account
    return balance ######################################correct

In [75]:
numlist = [0 , 1 ,2 ,3 ,4 ]
print(5 in numlist)

False

In [76]:
def checktype(value):
    datatype = type(value)
    return datatype
print(checktype(True))
print(checktype(1.0))
print(checktype(1))
print(checktype("True"))

<class 'bool'>
<class 'float'>
<class 'int'>
<class 'str'>

In [77]:
def average(total,customers):
    #total = eval(total)
    #customers = eval(customers)
    print(1,total//customers)     #####correct      find truncate m
    print(2,int(total/customers))######### correct 
    print(3 ,total**customers)
    print(4 ,float(total//customers))

In [78]:
average(300,15)

1 20
2 20
3 14348907000000000000000000000000000000
4 20.0

# slicing

In [82]:

alpha = "abcdefghijklmnopqrstuvwxyz"
print(1,alpha[3:15])
print(2,alpha[3:15:3])
print(3,alpha[3:15:-3]) # no output
print(4,alpha[15:3:-3])
print(5,alpha[15:3])  # no output
print(6,alpha[::-3])

1 defghijklmno
2 dgjm
3
4 pmjg
5
6 zwtqnkheb

In [83]:

def get_value(minor,senior):
    discount = 0.1
    if not (minor or senior):
        discount = 0 
    return discount

In [86]:
get_value(0,9)

0.1

In [88]:
0 or 5

5

In [89]:
bool(0)

False

In [90]:
None is None

True

In [91]:
-5<0<5

True

In [93]:
x = 4

while x >=1:
    if x % 4 ==0 :
        print("Party")
    elif x - 2 < 0:
        print("Cake")
    elif x / 3 == 0:
        print("Greeting")
    else:
        print("Birthday")
    x = x- 1

Party
Birthday
Birthday
Cake

In [96]:
age = input("enter your age")
print(0,type(age))
year = input("enter the year in you born")
print(2,type(year))
born = eval(year) - eval(age)
message = "you were born in " + str(born)
print(1,message)
print(2,type(age))
print(3,type(year))
print(4,type(born))
print(5,type(message))
#print(type(age))

enter your age17
enter the year in you born2002
1 you were born in 1985
2 <class 'str'>
3 <class 'str'>
4 <class 'int'>
5 <class 'str'>

In [91]:
list_1 =[1,2]
list_2=[3,4]
list_3=list_1 + list_2
list_4 = list_3 * 3
print(list_4)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [92]:
print(list_3)

[1, 2, 3, 4]

In [118]:
x= 1
while x <= 200:
    x = a
    colors =[]
    colors.append(a)
    x += 1
print(colors)

NameError: name 'a' is not defined

In [95]:
num = int(input("enter"))
if num > -10 and num <10:
    print("one digit")
elif num > -100 and num < 100:
    print(" two digit ")

enter5
one digit

In [2]:
from random import randint

In [ ]:
# ATG

In [13]:
target = randint(1,10)
print(target)
chance = 1
print("Guess an integar from 1 to 10 you will have three chance")
while chance <= 3:
    guess = int(input("guess an integar: "))
    if guess > target :
        print("guess is too high")
    elif guess < target :
        print ("guess is too low")
    else:
        print("guess is just right")
        break
    chance += 1

2
Guess an integar from 1 to 10 you will have three chance
guess an integar: 4
guess is too high
guess an integar: 2
guess is just right

In [15]:
import sys

In [18]:
try:
    f = open("in.txt",'r')
    fo = open("out.txt",'w+')
except IOError:
    print("can not open ",file_name)
else:
    i = 1
    for line in f:
        print(line.rsplit())
        fo.write("line" + str(i) + ": "+ line )
        i = i + 1
    f.close()
    fo.close()         # wronge

NameError: name 'file_name' is not defined

In [20]:
import math

In [21]:
power = True
move = 1
while(power):
    if move == 0:
        turnvalue = math.py/move
        move += 5
    else:
        turnvalue =0
        move = 0  #################################################
        ########### division by zero error move = 0 also###########

AttributeError: module 'math' has no attribute 'py'

In [50]:
from random import randrange
from random import randint
print(randrange(0,100,5))
print(randrange(5,105,5))
print(randint(0,20)*5)
print(randint(1,20)*5)
import random

55
60
35
45

In [79]:
random.randrange(0.0,1.0)

0

In [80]:
random.randint(0,1)

0

In [181]:
random.random()

0.2658683572264774

In [191]:
random.randrange(5)

1

In [193]:
import os

In [197]:
def read(file):
    line = None
    if os.path.isfile(file):
        data = open(file, "r")
        for line in data:
            print(line)

In [201]:
print(read("python"))

None

In [206]:
import datetime
d = datetime.datetime(2017,4,7)
print("{:%B-%d-%y}".format(d))
num =1234567.890
print("{:.4f}".format(num))

April-07-17
1234567.8900

In [211]:
item = input("enter 1")
sales = input("enter 2")
print(1,item + ','+ sales)
print(2,'"' +item +'",'+sales)
print(3,'"%s",%s'%(item,sales))
print(4,"{0},{1}".format(item,sales))
print(5,'"{0}",{1}'.format(item,sales))

enter 1y
enter 26
1 y,6
2 "y",6
3 "y",6
4 y,6
5 "y",6

In [212]:
n=1
m=1
if n=m:
    print("ok")
else:
    print("Wronge")

SyntaxError: invalid syntax (<ipython-input-212-dd1a710a6221>, line 3)

In [1]:
print("MUHAMMAD azhar")

MUHAMMAD azhar

In [5]:
x = input("\t What is your Name :\t")
print(f"\n \n\t \t\t WELCOME {x}\n \n \n")
b = True
while b:
    a1 = input('ENTER THE NUMBER TO CALCULATE : \t')
    a2 = input('ENTER THE NUMBER TO CALCULATE : \t')
    if a1

	 What is your Name :	MUHAMMAD AZHAR SON OF MUHAMMAD MEHMOOD AND FARZANA


	 		 WELCOME MUHAMMAD AZHAR SON OF MUHAMMAD MEHMOOD AND FARZANA

In [1]:
import numpy as np
import pandas as pd

In [2]:
import pandas as pd

In [3]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])

In [4]:
obj

a    0
b    1
c    2
dtype: int64

In [5]:
index = obj.index

In [6]:
obj

a    0
b    1
c    2
dtype: int64

In [8]:
index = obj.reindex
obj

a    0
b    1
c    2
dtype: int64

In [9]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [4]:
read_json

NameError: name 'read_json' is not defined

In [1]:

import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('mem.csv')
df.head()

EmptyDataError: No columns to parse from file

In [32]:
df = pd.read_csv('data.csv')
df

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [33]:
pd.innull(data.csv)

AttributeError: module 'pandas' has no attribute 'innull'

In [34]:
data = pd.read_csv('data.csv')

In [37]:
data1 = pd.read_csv('data.csv',nrows=5)
data1

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3,8,7.0,9,9,45,25,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8.0,10,10,32,18,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2,5,8.0,10,10,33,30,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2,7,NaN,2,2,23,23,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6,7,7.0,9,9,43,34,77,B

In [41]:
chunker = pd.read_csv('data.csv', chunksize=2)   # loop imp
for i in chunker:
    print(i)

    Student Code  Degree Student Name  Mid  Quiz 1  Quiz 2  Best of Quizzes  \
0   022-14-19987  BS(CS)  Abdul Basit   28     8.0       3                8
1  022-14-110233  BS(CS)  Adeel Ahmed   17     NaN       5                5

   Assignment 1  Assignment 2  Best of Assignments  Total Sessional (50)  \
0             7             9                    9                    45
1             8            10                   10                    32

   Final (50)  Total (100) Grade
0          25           70     B
1          18           50     F
    Student Code  Degree    Student Name  Mid  Quiz 1  Quiz 2  \
2  022-14-110585  BS(CS)    Afrah Zareen   18       5       2
3   022-14-19718  BS(CS)  Ahmed Ali Raza   14       7       2

   Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
2                5           8.0            10                   10
3                7           NaN             2                    2

   Total Sessional (50)  Final (50)  Total (100) Grade
2                    33          30           63     C
3                    23          23           46     F
    Student Code  Degree     Student Name  Mid  Quiz 1  Quiz 2  \
4  022-14-110648  BS(CS)  Ahsan Ali Vohra   27       7       6
5  022-14-110232  BS(CS)      Ameer Hamza   25       9       6

   Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
4                7             7             9                    9
5                9             8            10                   10

   Total Sessional (50)  Final (50)  Total (100) Grade
4                    43          34           77     B
5                    44          27           71     B
    Student Code  Degree      Student Name  Mid  Quiz 1  Quiz 2  \
6  022-14-110588  BS(CS)     Anas Ali Khan   28       5       6
7  022-14-110388  BS(CS)  Aneebullah Niazi   26       9       6

   Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
6                6             8            10                   10
7                9             8            10                   10

   Total Sessional (50)  Final (50)  Total (100) Grade
6                    44          30           74     B
7                    45          40           85     A
    Student Code  Degree    Student Name  Mid  Quiz 1  Quiz 2  \
8  022-14-110601  BS(CS)  Areesha Sohail   19       9       4
9  022-14-110599  BS(CS)         Arsalan   28       8       6

   Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
8                9             7           9.0                    9
9                8             8           NaN                    8

   Total Sessional (50)  Final (50)  Total (100) Grade
8                    37          24           61     C
9                    44          40           84     A
     Student Code  Degree         Student Name  Mid  Quiz 1  Quiz 2  \
10  022-14-110214  BS(CS)  Fatima Haider Warsi   30       8       7
11  022-14-110591  BS(CS)          Habib Ullah   28       8       5

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
10                8             8           NaN                    8
11                8             5           NaN                    5

    Total Sessional (50)  Final (50)  Total (100) Grade
10                    46          45           91     A
11                    41          35           76     B
     Student Code  Degree         Student Name  Mid  Quiz 1  Quiz 2  \
12  022-15-110994  BS(CS)  Hafiza Tooba Akbani   23       7       5
13  022-14-110600  BS(CS)   Hamza Abdul Jabbar   24       8       4

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
12                7             8            10                   10
13                8             8            10                   10

    Total Sessional (50)  Final (50)  Total (100) Grade
12                    40          33           73     B
13                    42          25           67     C
     Student Code  Degree   Student Name  Mid  Quiz 1  Quiz 2  \
14  022-14-110389  BS(CS)  Hareem Afshan   21     7.0     4.0
15   022-14-19916  BS(CS)   Haseeb Sajid   18     NaN     NaN

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
14                7           6.0           8.0                    8
15                0           NaN           NaN                    0

    Total Sessional (50)  Final (50)  Total (100) Grade
14                    36        29.0           65     C
15                    18         NaN           18     F
     Student Code  Degree  Student Name  Mid  Quiz 1  Quiz 2  Best of Quizzes  \
16  022-14-110596  BS(CS)  Hassam Ahmed   23       5       5                5
17  022-14-110396  BS(CS)  Khalid Anwer   20       8       5                8

    Assignment 1  Assignment 2  Best of Assignments  Total Sessional (50)  \
16             7             9                    9                    37
17             9            11                   11                    39

    Final (50)  Total (100) Grade
16          35           72     B
17          31           70     B
     Student Code  Degree     Student Name  Mid  Quiz 1  Quiz 2  \
18  022-14-110223  BS(CS)    Madiha Jabeen   16       5       2
19  022-14-110222  BS(CS)  Mohammad Hunain   27       9       6

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
18                5             8            10                   10
19                9             8            10                   10

    Total Sessional (50)  Final (50)  Total (100) Grade
18                    31          29           60     C
19                    46          45           91     A
     Student Code  Degree                    Student Name  Mid  Quiz 1  \
20  022-14-110412  BS(CS)                  Muhammad Aamir   24       7
21  022-14-110593  BS(CS)  Muhammad Abdul Rehman Siddiqui   20       9

    Quiz 2  Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
20       6                7             7             9                    9
21       6                9             9            11                   11

    Total Sessional (50)  Final (50)  Total (100) Grade
20                    40          31           71     B
21                    40          20           60     C
     Student Code  Degree        Student Name  Mid  Quiz 1  Quiz 2  \
22  022-14-110398  BS(CS)   Muhammad Abdullah   20       7     6.0
23   022-14-19983  BS(CS)  Muhammad Ali Iqbal   26       5     NaN

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
22                7             7           NaN                    7
23                5             8          10.0                   10

    Total Sessional (50)  Final (50)  Total (100) Grade
22                    34          23           57     F
23                    41          21           62     C
     Student Code  Degree    Student Name  Mid  Quiz 1  Quiz 2  \
24  022-14-110215  BS(CS)  Muhammad Bilal   28       5       4
25  022-14-110105  BS(CS)  Muhammad Faraz   26       9       6

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
24                5             9            11                   11
25                9             8            10                   10

    Total Sessional (50)  Final (50)  Total (100) Grade
24                    44          33           77     B
25                    45          41           86     A
     Student Code  Degree             Student Name  Mid  Quiz 1  Quiz 2  \
26  022-14-110370  BS(CS)  Muhammad Ghazali Faridi   27       6     NaN
27  022-14-110452  BS(CS)      Muhammad Osama Khan   27       8     6.0

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
26                6             6             8                    8
27                8             8            10                   10

    Total Sessional (50)  Final (50)  Total (100) Grade
26                    41          24           65     C
27                    45          26           71     B
     Student Code  Degree               Student Name  Mid  Quiz 1  Quiz 2  \
28  022-14-110387  BS(CS)     Muhammad Saqib Intizar   22       6       6
29  022-14-110217  BS(CS)  Muhammad Shahroz Khurshid   17       7       1

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
28                6             9          11.0                   11
29                7             6           NaN                    6

    Total Sessional (50)  Final (50)  Total (100) Grade
28                    39          18           57     F
29                    30           9           39     F
     Student Code  Degree           Student Name  Mid  Quiz 1  Quiz 2  \
30  022-14-110401  BS(CS)        Muhammad Shozab   23       8       6
31  022-14-110231  BS(CS)  Muhammad Taha Hasnain   27       7       5

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
30                8             9           NaN                    9
31                7            10           NaN                   10

    Total Sessional (50)  Final (50)  Total (100) Grade
30                    40          32           72     B
31                    44          29           73     B
     Student Code  Degree           Student Name  Mid  Quiz 1  Quiz 2  \
32  022-14-110035  BS(CS)  Muhammad Wajahat Khan    9     NaN       2
33   022-14-19919  BS(CS)   Muhammad Younus Baig   20     4.0       2

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
32                2             8            10                   10
33                4             8            10                   10

    Total Sessional (50)  Final (50)  Total (100) Grade
32                    21           8           29     F
33                    34          17           51     F
     Student Code  Degree      Student Name  Mid  Quiz 1  Quiz 2  \
34  022-14-110413  BS(CS)  Nazeer Bin Zafar   25       9       6
35   022-14-19923  BS(CS)        Rabi Ahmed   20       8       5

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
34                9           8.0            10                   10
35                8           NaN            10                   10

    Total Sessional (50)  Final (50)  Total (100) Grade
34                    44          42           86     A
35                    38          28           66     C
     Student Code  Degree   Student Name  Mid  Quiz 1  Quiz 2  \
36  022-14-110582  BS(CS)     Rida Nasim   25       9       5
37  022-14-110230  BS(CS)  Sadaf Nosheen   27       9       5

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
36                9             9           NaN                    9
37                9             9           NaN                    9

    Total Sessional (50)  Final (50)  Total (100) Grade
36                    43          27           70     B
37                    45          30           75     B
     Student Code  Degree      Student Name  Mid  Quiz 1  Quiz 2  \
38  022-14-110229  BS(CS)  Sadaquat Rafique    9       6       6
39  022-14-110107  BS(CS)       Sania Iqbal   28       4       4

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
38                6             5             7                    7
39                4             9            11                   11

    Total Sessional (50)  Final (50)  Total (100) Grade
38                    22          17           39     F
39                    43          25           68     C
     Student Code  Degree   Student Name  Mid  Quiz 1  Quiz 2  \
40  022-14-110584  BS(CS)    Sharif Taqi   27       9       6
41  022-14-110225  BS(CS)  Shariqa Ahmad   20       7       6

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
40                9             8            10                   10
41                7             8            10                   10

    Total Sessional (50)  Final (50)  Total (100) Grade
40                    46          35           81     A
41                    37          20           57     F
     Student Code  Degree       Student Name  Mid  Quiz 1  Quiz 2  \
42  022-14-110587  BS(CS)      Sumbul Rehman   28       5       6
43  022-14-110451  BS(CS)  Syed Faizan Uddin   28       9       4

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
42                6             8            10                   10
43                9             6             8                    8

    Total Sessional (50)  Final (50)  Total (100) Grade
42                    44          23           67     C
43                    45          34           79     B
     Student Code  Degree       Student Name  Mid  Quiz 1  Quiz 2  \
44  022-14-110589  BS(CS)        Syed Sohaib   25       7       5
45  022-14-110400  BS(CS)  Syeda Sabika Raza   27       9       6

    Best of Quizzes  Assignment 1  Assignment 2  Best of Assignments  \
44                7             9           NaN                    9
45                9             9           NaN                    9

    Total Sessional (50)  Final (50)  Total (100) Grade
44                    41          22           63     C
45                    45          35           80     A

     Student Code  Degree Student Name  Mid  Quiz 1  Quiz 2  Best of Quizzes  \
46   022-14-19911  BS(CS)   Usman Khan   25       8       5                8
47  022-14-110219  BS(CS)  Waqar Ahmed   11       9       5                9

    Assignment 1  Assignment 2  Best of Assignments  Total Sessional (50)  \
46             8            10                   10                    43
47             5             7                    7                    27

    Final (50)  Total (100) Grade
46          22           65     C
47          19           46     F

In [42]:
import csv

In [48]:
f = open('data.csv')
reader = csv.reader(f)
reader

In [49]:
for line in reader:
    print(line)

['Student Code', 'Degree', 'Student Name', 'Mid', 'Quiz 1', 'Quiz 2', 'Best of Quizzes', 'Assignment 1', 'Assignment 2', 'Best of Assignments', 'Total Sessional (50)', 'Final (50)', 'Total (100)', 'Grade']
['022-14-19987', 'BS(CS)', 'Abdul Basit', '28', '8', '3', '8', '7', '9', '9', '45', '25', '70', 'B']
['022-14-110233', 'BS(CS)', 'Adeel Ahmed', '17', '', '5', '5', '8', '10', '10', '32', '18', '50', 'F']
['022-14-110585', 'BS(CS)', 'Afrah Zareen', '18', '5', '2', '5', '8', '10', '10', '33', '30', '63', 'C']
['022-14-19718', 'BS(CS)', 'Ahmed Ali Raza', '14', '7', '2', '7', '', '2', '2', '23', '23', '46', 'F']
['022-14-110648', 'BS(CS)', 'Ahsan Ali Vohra', '27', '7', '6', '7', '7', '9', '9', '43', '34', '77', 'B']
['022-14-110232', 'BS(CS)', 'Ameer Hamza', '25', '9', '6', '9', '8', '10', '10', '44', '27', '71', 'B']
['022-14-110588', 'BS(CS)', 'Anas Ali Khan', '28', '5', '6', '6', '8', '10', '10', '44', '30', '74', 'B']
['022-14-110388', 'BS(CS)', 'Aneebullah Niazi', '26', '9', '6', '9', '8', '10', '10', '45', '40', '85', 'A']
['022-14-110601', 'BS(CS)', 'Areesha Sohail', '19', '9', '4', '9', '7', '9', '9', '37', '24', '61', 'C']
['022-14-110599', 'BS(CS)', 'Arsalan', '28', '8', '6', '8', '8', '', '8', '44', '40', '84', 'A']
['022-14-110214', 'BS(CS)', 'Fatima Haider Warsi', '30', '8', '7', '8', '8', '', '8', '46', '45', '91', 'A']
['022-14-110591', 'BS(CS)', 'Habib Ullah', '28', '8', '5', '8', '5', '', '5', '41', '35', '76', 'B']
['022-15-110994', 'BS(CS)', 'Hafiza Tooba Akbani', '23', '7', '5', '7', '8', '10', '10', '40', '33', '73', 'B']
['022-14-110600', 'BS(CS)', 'Hamza Abdul Jabbar', '24', '8', '4', '8', '8', '10', '10', '42', '25', '67', 'C']
['022-14-110389', 'BS(CS)', 'Hareem Afshan', '21', '7', '4', '7', '6', '8', '8', '36', '29', '65', 'C']
['022-14-19916', 'BS(CS)', 'Haseeb Sajid', '18', '', '', '0', '', '', '0', '18', '', '18', 'F']
['022-14-110596', 'BS(CS)', 'Hassam Ahmed', '23', '5', '5', '5', '7', '9', '9', '37', '35', '72', 'B']
['022-14-110396', 'BS(CS)', 'Khalid Anwer', '20', '8', '5', '8', '9', '11', '11', '39', '31', '70', 'B']
['022-14-110223', 'BS(CS)', 'Madiha Jabeen', '16', '5', '2', '5', '8', '10', '10', '31', '29', '60', 'C']
['022-14-110222', 'BS(CS)', 'Mohammad Hunain', '27', '9', '6', '9', '8', '10', '10', '46', '45', '91', 'A']
['022-14-110412', 'BS(CS)', 'Muhammad Aamir', '24', '7', '6', '7', '7', '9', '9', '40', '31', '71', 'B']
['022-14-110593', 'BS(CS)', 'Muhammad Abdul Rehman Siddiqui', '20', '9', '6', '9', '9', '11', '11', '40', '20', '60', 'C']
['022-14-110398', 'BS(CS)', 'Muhammad Abdullah', '20', '7', '6', '7', '7', '', '7', '34', '23', '57', 'F']
['022-14-19983', 'BS(CS)', 'Muhammad Ali Iqbal', '26', '5', '', '5', '8', '10', '10', '41', '21', '62', 'C']
['022-14-110215', 'BS(CS)', 'Muhammad Bilal', '28', '5', '4', '5', '9', '11', '11', '44', '33', '77', 'B']
['022-14-110105', 'BS(CS)', 'Muhammad Faraz', '26', '9', '6', '9', '8', '10', '10', '45', '41', '86', 'A']
['022-14-110370', 'BS(CS)', 'Muhammad Ghazali Faridi', '27', '6', '', '6', '6', '8', '8', '41', '24', '65', 'C']
['022-14-110452', 'BS(CS)', 'Muhammad Osama Khan', '27', '8', '6', '8', '8', '10', '10', '45', '26', '71', 'B']
['022-14-110387', 'BS(CS)', 'Muhammad Saqib Intizar', '22', '6', '6', '6', '9', '11', '11', '39', '18', '57', 'F']
['022-14-110217', 'BS(CS)', 'Muhammad Shahroz Khurshid', '17', '7', '1', '7', '6', '', '6', '30', '9', '39', 'F']
['022-14-110401', 'BS(CS)', 'Muhammad Shozab', '23', '8', '6', '8', '9', '', '9', '40', '32', '72', 'B']
['022-14-110231', 'BS(CS)', 'Muhammad Taha Hasnain', '27', '7', '5', '7', '10', '', '10', '44', '29', '73', 'B']
['022-14-110035', 'BS(CS)', 'Muhammad Wajahat Khan', '9', '', '2', '2', '8', '10', '10', '21', '8', '29', 'F']
['022-14-19919', 'BS(CS)', 'Muhammad Younus Baig', '20', '4', '2', '4', '8', '10', '10', '34', '17', '51', 'F']
['022-14-110413', 'BS(CS)', 'Nazeer Bin Zafar', '25', '9', '6', '9', '8', '10', '10', '44', '42', '86', 'A']
['022-14-19923', 'BS(CS)', 'Rabi Ahmed', '20', '8', '5', '8', '', '10', '10', '38', '28', '66', 'C']
['022-14-110582', 'BS(CS)', 'Rida Nasim', '25', '9', '5', '9', '9', '', '9', '43', '27', '70', 'B']
['022-14-110230', 'BS(CS)', 'Sadaf Nosheen', '27', '9', '5', '9', '9', '', '9', '45', '30', '75', 'B']
['022-14-110229', 'BS(CS)', 'Sadaquat Rafique', '9', '6', '6', '6', '5', '7', '7', '22', '17', '39', 'F']
['022-14-110107', 'BS(CS)', 'Sania Iqbal', '28', '4', '4', '4', '9', '11', '11', '43', '25', '68', 'C']
['022-14-110584', 'BS(CS)', 'Sharif Taqi', '27', '9', '6', '9', '8', '10', '10', '46', '35', '81', 'A']
['022-14-110225', 'BS(CS)', 'Shariqa Ahmad', '20', '7', '6', '7', '8', '10', '10', '37', '20', '57', 'F']
['022-14-110587', 'BS(CS)', 'Sumbul Rehman', '28', '5', '6', '6', '8', '10', '10', '44', '23', '67', 'C']
['022-14-110451', 'BS(CS)', 'Syed Faizan Uddin', '28', '9', '4', '9', '6', '8', '8', '45', '34', '79', 'B']
['022-14-110589', 'BS(CS)', 'Syed Sohaib', '25', '7', '5', '7', '9', '', '9', '41', '22', '63', 'C']
['022-14-110400', 'BS(CS)', 'Syeda Sabika Raza', '27', '9', '6', '9', '9', '', '9', '45', '35', '80', 'A']
['022-14-19911', 'BS(CS)', 'Usman Khan', '25', '8', '5', '8', '8', '10', '10', '43', '22', '65', 'C']
['022-14-110219', 'BS(CS)', 'Waqar Ahmed', '11', '9', '5', '9', '5', '7', '7', '27', '19', '46', 'F']

In [71]:
x = [1,2,3,4,5,6,7]
y = [2,3,4,5,6,7,6]
z = [3,4,5,6,7,8,9]
a = [x,y,z]
zipp = zip(*a)

In [72]:
for vals in zipp:
    print(vals)

(1, 2, 3)
(2, 3, 4)
(3, 4, 5)
(4, 5, 6)
(5, 6, 7)
(6, 7, 8)
(7, 6, 9)

In [73]:
x=["ali",'amair']
x

['ali', 'amair']

In [76]:
teacher ,student =x            #unpacking

In [75]:
teacher

'ali'

In [77]:
import sys

In [78]:
data.to_csv(sys.stdout, sep='|')

|Student Code|Degree|Student Name|Mid|Quiz 1|Quiz 2|Best of Quizzes|Assignment 1|Assignment 2|Best of Assignments|Total Sessional (50)|Final (50)|Total (100)|Grade
0|022-14-19987|BS(CS)|Abdul Basit|28|8.0|3.0|8|7.0|9.0|9|45|25.0|70|B
1|022-14-110233|BS(CS)|Adeel Ahmed|17||5.0|5|8.0|10.0|10|32|18.0|50|F
2|022-14-110585|BS(CS)|Afrah Zareen|18|5.0|2.0|5|8.0|10.0|10|33|30.0|63|C
3|022-14-19718|BS(CS)|Ahmed Ali Raza|14|7.0|2.0|7||2.0|2|23|23.0|46|F
4|022-14-110648|BS(CS)|Ahsan Ali Vohra|27|7.0|6.0|7|7.0|9.0|9|43|34.0|77|B
5|022-14-110232|BS(CS)|Ameer Hamza|25|9.0|6.0|9|8.0|10.0|10|44|27.0|71|B
6|022-14-110588|BS(CS)|Anas Ali Khan|28|5.0|6.0|6|8.0|10.0|10|44|30.0|74|B
7|022-14-110388|BS(CS)|Aneebullah Niazi|26|9.0|6.0|9|8.0|10.0|10|45|40.0|85|A
8|022-14-110601|BS(CS)|Areesha Sohail|19|9.0|4.0|9|7.0|9.0|9|37|24.0|61|C
9|022-14-110599|BS(CS)|Arsalan|28|8.0|6.0|8|8.0||8|44|40.0|84|A
10|022-14-110214|BS(CS)|Fatima Haider Warsi|30|8.0|7.0|8|8.0||8|46|45.0|91|A
11|022-14-110591|BS(CS)|Habib Ullah|28|8.0|5.0|8|5.0||5|41|35.0|76|B
12|022-15-110994|BS(CS)|Hafiza Tooba Akbani|23|7.0|5.0|7|8.0|10.0|10|40|33.0|73|B
13|022-14-110600|BS(CS)|Hamza Abdul Jabbar|24|8.0|4.0|8|8.0|10.0|10|42|25.0|67|C
14|022-14-110389|BS(CS)|Hareem Afshan|21|7.0|4.0|7|6.0|8.0|8|36|29.0|65|C
15|022-14-19916|BS(CS)|Haseeb Sajid|18|||0|||0|18||18|F
16|022-14-110596|BS(CS)|Hassam Ahmed|23|5.0|5.0|5|7.0|9.0|9|37|35.0|72|B
17|022-14-110396|BS(CS)|Khalid Anwer|20|8.0|5.0|8|9.0|11.0|11|39|31.0|70|B
18|022-14-110223|BS(CS)|Madiha Jabeen|16|5.0|2.0|5|8.0|10.0|10|31|29.0|60|C
19|022-14-110222|BS(CS)|Mohammad Hunain|27|9.0|6.0|9|8.0|10.0|10|46|45.0|91|A
20|022-14-110412|BS(CS)|Muhammad Aamir|24|7.0|6.0|7|7.0|9.0|9|40|31.0|71|B
21|022-14-110593|BS(CS)|Muhammad Abdul Rehman Siddiqui|20|9.0|6.0|9|9.0|11.0|11|40|20.0|60|C
22|022-14-110398|BS(CS)|Muhammad Abdullah|20|7.0|6.0|7|7.0||7|34|23.0|57|F
23|022-14-19983|BS(CS)|Muhammad Ali Iqbal|26|5.0||5|8.0|10.0|10|41|21.0|62|C
24|022-14-110215|BS(CS)|Muhammad Bilal|28|5.0|4.0|5|9.0|11.0|11|44|33.0|77|B
25|022-14-110105|BS(CS)|Muhammad Faraz|26|9.0|6.0|9|8.0|10.0|10|45|41.0|86|A
26|022-14-110370|BS(CS)|Muhammad Ghazali Faridi|27|6.0||6|6.0|8.0|8|41|24.0|65|C
27|022-14-110452|BS(CS)|Muhammad Osama Khan|27|8.0|6.0|8|8.0|10.0|10|45|26.0|71|B
28|022-14-110387|BS(CS)|Muhammad Saqib Intizar|22|6.0|6.0|6|9.0|11.0|11|39|18.0|57|F
29|022-14-110217|BS(CS)|Muhammad Shahroz Khurshid|17|7.0|1.0|7|6.0||6|30|9.0|39|F
30|022-14-110401|BS(CS)|Muhammad Shozab|23|8.0|6.0|8|9.0||9|40|32.0|72|B
31|022-14-110231|BS(CS)|Muhammad Taha Hasnain|27|7.0|5.0|7|10.0||10|44|29.0|73|B
32|022-14-110035|BS(CS)|Muhammad Wajahat Khan|9||2.0|2|8.0|10.0|10|21|8.0|29|F
33|022-14-19919|BS(CS)|Muhammad Younus Baig|20|4.0|2.0|4|8.0|10.0|10|34|17.0|51|F
34|022-14-110413|BS(CS)|Nazeer Bin Zafar|25|9.0|6.0|9|8.0|10.0|10|44|42.0|86|A
35|022-14-19923|BS(CS)|Rabi Ahmed|20|8.0|5.0|8||10.0|10|38|28.0|66|C
36|022-14-110582|BS(CS)|Rida Nasim|25|9.0|5.0|9|9.0||9|43|27.0|70|B
37|022-14-110230|BS(CS)|Sadaf Nosheen|27|9.0|5.0|9|9.0||9|45|30.0|75|B
38|022-14-110229|BS(CS)|Sadaquat Rafique|9|6.0|6.0|6|5.0|7.0|7|22|17.0|39|F
39|022-14-110107|BS(CS)|Sania Iqbal|28|4.0|4.0|4|9.0|11.0|11|43|25.0|68|C
40|022-14-110584|BS(CS)|Sharif Taqi|27|9.0|6.0|9|8.0|10.0|10|46|35.0|81|A
41|022-14-110225|BS(CS)|Shariqa Ahmad|20|7.0|6.0|7|8.0|10.0|10|37|20.0|57|F
42|022-14-110587|BS(CS)|Sumbul Rehman|28|5.0|6.0|6|8.0|10.0|10|44|23.0|67|C
43|022-14-110451|BS(CS)|Syed Faizan Uddin|28|9.0|4.0|9|6.0|8.0|8|45|34.0|79|B
44|022-14-110589|BS(CS)|Syed Sohaib|25|7.0|5.0|7|9.0||9|41|22.0|63|C
45|022-14-110400|BS(CS)|Syeda Sabika Raza|27|9.0|6.0|9|9.0||9|45|35.0|80|A
46|022-14-19911|BS(CS)|Usman Khan|25|8.0|5.0|8|8.0|10.0|10|43|22.0|65|C
47|022-14-110219|BS(CS)|Waqar Ahmed|11|9.0|5.0|9|5.0|7.0|7|27|19.0|46|F

In [105]:
obj ={'name': 'Wes',
     'pet': 56,
     'places_lived': ['United States', 'Spain', 'Germany'],
     'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
     {   'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}
obj

{'name': 'Wes',
 'pet': 56,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [96]:
import json

In [106]:
result =json.dumps(obj)
result

'{"name": "Wes", "pet": 56, "places_lived": ["United States", "Spain", "Germany"], "siblings": [{"age": 30, "name": "Scott", "pets": ["Zeus", "Zuko"]}, {"age": 38, "name": "Katie", "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [100]:
result =json.load(obj)
result

AttributeError: 'dict' object has no attribute 'read'

In [86]:
'''
dhcjdchdmcbmcxbc
'''

'\ndhcjdchdmcbmcxbc\n'

In [108]:
obj ={'name': 'Wes',
     'pet': 56,
     'places_lived': ['United States', 'Spain', 'Germany'],
     'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
     {   'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [109]:
readjson =pd.read_json(obj)
readjson

ValueError: Invalid file path or buffer object type: <class 'dict'>

In [122]:
import lxml
import pandas as pd

In [110]:
tables = pd.read_html('fdic_failed_bank_list.html')

In [111]:
tables

[                                  Bank Name             City  ST   CERT  \
 0                               Allied Bank         Mulberry  AR     91
 1              The Woodbury Banking Company         Woodbury  GA  11297
 2                    First CornerStone Bank  King of Prussia  PA  35312
 3                        Trust Company Bank          Memphis  TN   9956
 4                North Milwaukee State Bank        Milwaukee  WI  20364
 5                    Hometown National Bank         Longview  WA  35156
 6                       The Bank of Georgia   Peachtree City  GA  35259
 7                              Premier Bank           Denver  CO  34112
 8                            Edgebrook Bank          Chicago  IL  57772
 9                    Doral Bank  En Espanol         San Juan  PR  32102
 10        Capitol City Bank & Trust Company          Atlanta  GA  33938
 11                  Highland Community Bank          Chicago  IL  20290
 12         First National Bank of Crestview        Crestview  FL  17557
 13                       Northern Star Bank          Mankato  MN  34983
 14   Frontier Bank, FSB D/B/A El Paseo Bank      Palm Desert  CA  34738
 15    The National Republic Bank of Chicago          Chicago  IL    916
 16                           NBRS Financial       Rising Sun  MD   4862
 17                    GreenChoice Bank, fsb          Chicago  IL  28462
 18                 Eastside Commercial Bank          Conyers  GA  58125
 19                   The Freedom State Bank          Freedom  OK  12483
 20                              Valley Bank  Fort Lauderdale  FL  21793
 21                              Valley Bank           Moline  IL  10450
 22              Slavie Federal Savings Bank          Bel Air  MD  32368
 23                    Columbia Savings Bank       Cincinnati  OH  32284
 24             AztecAmerica Bank En Espanol           Berwyn  IL  57866
 25                    Allendale County Bank          Fairfax  SC  15062
 26                       Vantage Point Bank          Horsham  PA  58531
 27    Millennium Bank, National Association         Sterling  VA  35096
 28                             Syringa Bank            Boise  ID  34296
 29                        The Bank of Union          El Reno  OK  17967
 ..                                      ...              ...  ..    ...
 517                       ANB Financial, NA      Bentonville  AR  33901
 518                               Hume Bank             Hume  MO   1971
 519                  Douglass National Bank      Kansas City  MO  24660
 520                       Miami Valley Bank         Lakeview  OH  16848
 521                                 NetBank       Alpharetta  GA  32575
 522               Metropolitan Savings Bank       Pittsburgh  PA  35353
 523                         Bank of Ephraim          Ephraim  UT   1249
 524                           Reliance Bank     White Plains  NY  26778
 525   Guaranty National Bank of Tallahassee      Tallahassee  FL  26838
 526                     Dollar Savings Bank           Newark  NJ  31330
 527                    Pulaski Savings Bank     Philadelphia  PA  27203
 528   First National Bank of Blanchardville   Blanchardville  WI  11639
 529                   Southern Pacific Bank         Torrance  CA  27094
 530             Farmers Bank of Cheneyville      Cheneyville  LA  16445
 531                           Bank of Alamo            Alamo  TN   9961
 532  AmTrade International Bank  En Espanol          Atlanta  GA  33784
 533          Universal Federal Savings Bank          Chicago  IL  29355
 534            Connecticut Bank of Commerce         Stamford  CT  19183
 535                        New Century Bank  Shelby Township  MI  34979
 536                   Net 1st National Bank       Boca Raton  FL  26652
 537                            NextBank, NA          Phoenix  AZ  22314
 538                Oakwood Deposit Bank Co.          Oakwood  OH   8966
 539                   Bank of Sierra Blanca    Sierra Blanca  TX  22002
 540           Hamilton Bank, NA  En Espanol            Miami  FL  24382
 541                  Sinclair National Bank         Gravette  AR  34248
 542                      Superior Bank, FSB         Hinsdale  IL  32646
 543                     Malta National Bank            Malta  OH   6629
 544         First Alliance Bank & Trust Co.       Manchester  NH  34264
 545       National State Bank of Metropolis       Metropolis  IL   3815
 546                        Bank of Honolulu         Honolulu  HI  21029

                    Acquiring Institution        Closing Date  \
 0                           Today's Bank  September 23, 2016
 1                            United Bank     August 19, 2016
 2    First-Citizens Bank & Trust Company         May 6, 2016
 3             The Bank of Fayette County      April 29, 2016
 4    First-Citizens Bank & Trust Company      March 11, 2016
 5                         Twin City Bank     October 2, 2015
 6                          Fidelity Bank     October 2, 2015
 7              United Fidelity Bank, fsb       July 10, 2015
 8               Republic Bank of Chicago         May 8, 2015
 9           Banco Popular de Puerto Rico   February 27, 2015
 10   First-Citizens Bank & Trust Company   February 13, 2015
 11             United Fidelity Bank, fsb    January 23, 2015
 12                        First NBC Bank    January 16, 2015
 13                             BankVista   December 19, 2014
 14     Bank of Southern California, N.A.    November 7, 2014
 15                   State Bank of Texas    October 24, 2014
 16                           Howard Bank    October 17, 2014
 17                  Providence Bank, LLC       July 25, 2014
 18             Community & Southern Bank       July 18, 2014
 19       Alva State Bank & Trust Company       June 27, 2014
 20   Landmark Bank, National Association       June 20, 2014
 21                   Great Southern Bank       June 20, 2014
 22                         Bay Bank, FSB        May 30, 2014
 23             United Fidelity Bank, fsb        May 23, 2014
 24              Republic Bank of Chicago        May 16, 2014
 25                   Palmetto State Bank      April 25, 2014
 26                     First Choice Bank   February 28, 2014
 27                  WashingtonFirst Bank   February 28, 2014
 28                          Sunwest Bank    January 31, 2014
 29                             BancFirst    January 24, 2014
 ..                                   ...                 ...
 517       Pulaski Bank and Trust Company         May 9, 2008
 518                        Security Bank       March 7, 2008
 519       Liberty Bank and Trust Company    January 25, 2008
 520         The Citizens Banking Company     October 4, 2007
 521                           ING DIRECT  September 28, 2007
 522  Allegheny Valley Bank of Pittsburgh    February 2, 2007
 523                        Far West Bank       June 25, 2004
 524                     Union State Bank      March 19, 2004
 525              Hancock Bank of Florida      March 12, 2004
 526                          No Acquirer   February 14, 2004
 527                       Earthstar Bank   November 14, 2003
 528                        The Park Bank         May 9, 2003
 529                            Beal Bank    February 7, 2003
 530            Sabine State Bank & Trust   December 17, 2002
 531                          No Acquirer    November 8, 2002
 532                          No Acquirer  September 30, 2002
 533               Chicago Community Bank       June 27, 2002
 534                   Hudson United Bank       June 26, 2002
 535                          No Acquirer      March 28, 2002
 536                       Bank Leumi USA       March 1, 2002
 537                          No Acquirer    February 7, 2002
 538       The State Bank & Trust Company    February 1, 2002
 539     The Security State Bank of Pecos    January 18, 2002
 540     Israel Discount Bank of New York    January 11, 2002
 541                   Delta Trust & Bank   September 7, 2001
 542                Superior Federal, FSB       July 27, 2001
 543                    North Valley Bank         May 3, 2001
 544  Southern New Hampshire Bank & Trust    February 2, 2001
 545              Banterra Bank of Marion   December 14, 2000
 546                   Bank of the Orient    October 13, 2000

            Updated Date
 0     November 17, 2016
 1     November 17, 2016
 2     September 6, 2016
 3     September 6, 2016
 4         June 16, 2016
 5        April 13, 2016
 6      October 24, 2016
 7       August 17, 2016
 8         July 12, 2016
 9          May 13, 2015
 10       April 21, 2015
 11       April 21, 2015
 12     January 15, 2016
 13      January 6, 2016
 14    November 10, 2016
 15      January 6, 2016
 16       March 26, 2015
 17        July 28, 2015
 18        July 11, 2016
 19       March 25, 2016
 20        June 29, 2015
 21        June 26, 2015
 22        June 15, 2015
 23    November 10, 2016
 24     October 20, 2016
 25        July 18, 2014
 26        March 3, 2015
 27       March 03, 2015
 28       April 12, 2016
 29       March 25, 2016
 ..                  ...
 517     August 28, 2012
 518     August 28, 2012
 519    October 26, 2012
 520  September 12, 2016
 521     August 28, 2012
 522    October 27, 2010
 523       April 9, 2008
 524       April 9, 2008
 525        June 5, 2012
 526       April 9, 2008
 527       July 22, 2005
 528        June 5, 2012
 529    October 20, 2008
 530    October 20, 2004
 531      March 18, 2005
 532  September 11, 2006
 533       April 9, 2008
 534   February 14, 2012
 535      March 18, 2005
 536       April 9, 2008
 537    February 5, 2015
 538    October 25, 2012
 539    November 6, 2003
 540  September 21, 2015
 541   February 10, 2004
 542     August 19, 2014
 543   November 18, 2002
 544   February 18, 2003
 545      March 17, 2005
 546      March 17, 2005

 [547 rows x 7 columns]]

In [114]:
len(tables)

1

In [115]:
len(*tables)

547

In [116]:
failures = tables[0]
failures

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
5,Hometown National Bank,Longview,WA,35156,Twin City Bank,"October 2, 2015","April 13, 2016"
6,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,"October 2, 2015","October 24, 2016"
7,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb","July 10, 2015","August 17, 2016"
8,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,"May 8, 2015","July 12, 2016"
9,Doral Bank En Espanol,San Juan,PR,32102,Banco Popular de Puerto Rico,"February 27, 2015","May 13, 2015"
10,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,"February 13, 2015","April 21, 2015"
11,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb","January 23, 2015","April 21, 2015"
12,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,"January 16, 2015","January 15, 2016"
13,Northern Star Bank,Mankato,MN,34983,BankVista,"December 19, 2014","January 6, 2016"
14,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.","November 7, 2014","November 10, 2016"
15,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,"October 24, 2014","January 6, 2016"
16,NBRS Financial,Rising Sun,MD,4862,Howard Bank,"October 17, 2014","March 26, 2015"
17,"GreenChoice Bank, fsb",Chicago,IL,28462,"Providence Bank, LLC","July 25, 2014","July 28, 2015"
18,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,"July 18, 2014","July 11, 2016"
19,The Freedom State Bank,Freedom,OK,12483,Alva State Bank & Trust Company,"June 27, 2014","March 25, 2016"
20,Valley Bank,Fort Lauderdale,FL,21793,"Landmark Bank, National Association","June 20, 2014","June 29, 2015"
21,Valley Bank,Moline,IL,10450,Great Southern Bank,"June 20, 2014","June 26, 2015"
22,Slavie Federal Savings Bank,Bel Air,MD,32368,"Bay Bank, FSB","May 30, 2014","June 15, 2015"
23,Columbia Savings Bank,Cincinnati,OH,32284,"United Fidelity Bank, fsb","May 23, 2014","November 10, 2016"
24,AztecAmerica Bank En Espanol,Berwyn,IL,57866,Republic Bank of Chicago,"May 16, 2014","October 20, 2016"
25,Allendale County Bank,Fairfax,SC,15062,Palmetto State Bank,"April 25, 2014","July 18, 2014"
26,Vantage Point Bank,Horsham,PA,58531,First Choice Bank,"February 28, 2014","March 3, 2015"
27,"Millennium Bank, National Association",Sterling,VA,35096,WashingtonFirst Bank,"February 28, 2014","March 03, 2015"
28,Syringa Bank,Boise,ID,34296,Sunwest Bank,"January 31, 2014","April 12, 2016"
29,The Bank of Union,El Reno,OK,17967,BancFirst,"January 24, 2014","March 25, 2016"
...,...,...,...,...,...,...,...
517,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,"May 9, 2008","August 28, 2012"
518,Hume Bank,Hume,MO,1971,Security Bank,"March 7, 2008","August 28, 2012"
519,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,"January 25, 2008","October 26, 2012"
520,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,"October 4, 2007","September 12, 2016"
521,NetBank,Alpharetta,GA,32575,ING DIRECT,"September 28, 2007","August 28, 2012"
522,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,"February 2, 2007","October 27, 2010"
523,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,"June 25, 2004","April 9, 2008"
524,Reliance Bank,White Plains,NY,26778,Union State Bank,"March 19, 2004","April 9, 2008"
525,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,"March 12, 2004","June 5, 2012"
526,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,"February 14, 2004","April 9, 2008"
527,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,"November 14, 2003","July 22, 2005"
528,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,"May 9, 2003","June 5, 2012"
529,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,"February 7, 2003","October 20, 2008"
530,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,"December 17, 2002","October 20, 2004"
531,Bank of Alamo,Alamo,TN,9961,No Acquirer,"November 8, 2002","March 18, 2005"
532,AmTrade International Bank En Espanol,Atlanta,GA,33784,No Acquirer,"September 30, 2002","September 11, 2006"
533,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,"June 27, 2002","April 9, 2008"
534,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,"June 26, 2002","February 14, 2012"
535,New Century Bank,Shelby Township,MI,34979,No Acquirer,"March 28, 2002","March 18, 2005"
536,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,"March 1, 2002","April 9, 2008"
537,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,"February 7, 2002","February 5, 2015"
538,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,"February 1, 2002","October 25, 2012"
539,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,"January 18, 2002","November 6, 2003"
540,"Hamilton Bank, NA En Espanol",Miami,FL,24382,Israel Discount Bank of New York,"January 11, 2002","September 21, 2015"
541,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,"September 7, 2001","February 10, 2004"
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [117]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [123]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
5     2015-10-02
6     2015-10-02
7     2015-07-10
8     2015-05-08
9     2015-02-27
10    2015-02-13
11    2015-01-23
12    2015-01-16
13    2014-12-19
14    2014-11-07
15    2014-10-24
16    2014-10-17
17    2014-07-25
18    2014-07-18
19    2014-06-27
20    2014-06-20
21    2014-06-20
22    2014-05-30
23    2014-05-23
24    2014-05-16
25    2014-04-25
26    2014-02-28
27    2014-02-28
28    2014-01-31
29    2014-01-24
         ...
517   2008-05-09
518   2008-03-07
519   2008-01-25
520   2007-10-04
521   2007-09-28
522   2007-02-02
523   2004-06-25
524   2004-03-19
525   2004-03-12
526   2004-02-14
527   2003-11-14
528   2003-05-09
529   2003-02-07
530   2002-12-17
531   2002-11-08
532   2002-09-30
533   2002-06-27
534   2002-06-26
535   2002-03-28
536   2002-03-01
537   2002-02-07
538   2002-02-01
539   2002-01-18
540   2002-01-11
541   2001-09-07
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

In [124]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

In [125]:
from lxml import objectify

In [126]:
close_timestamps.dt.month.value_counts()

7     74
10    58
4     58
1     49
2     44
8     41
5     41
3     39
9     38
6     36
11    35
12    34
Name: Closing Date, dtype: int64

In [128]:
close_timestamps.dt.day.value_counts()

23    31
30    30
19    30
20    27
17    23
16    22
4     21
18    21
7     20
15    20
2     20
14    20
24    19
28    18
27    18
22    18
11    18
21    17
29    16
26    15
5     15
13    14
10    14
8     14
6     14
25    13
12    10
9     10
31     8
1      8
3      3
Name: Closing Date, dtype: int64

In [129]:
close_timestamps.dt.date.value_counts()

2009-10-30    9
2010-04-16    8
2010-08-20    8
2009-10-23    7
2010-03-19    7
2009-07-02    7
2010-04-30    7
2009-12-18    7
2010-07-23    7
2010-04-23    7
2009-07-24    7
2010-10-22    7
2011-04-15    6
2009-12-04    6
2010-01-29    6
2010-12-17    6
2010-09-17    6
2010-07-16    6
2009-07-31    5
2009-06-26    5
2010-01-22    5
2011-04-29    5
2010-07-30    5
2012-04-27    5
2012-07-20    5
2009-09-04    5
2009-11-06    5
2010-05-28    5
2009-08-14    5
2011-01-21    4
             ..
2008-10-24    1
2013-04-05    1
2008-05-09    1
2011-09-09    1
2010-06-11    1
2012-04-20    1
2013-03-08    1
2014-06-27    1
2013-01-18    1
2002-06-26    1
2003-02-07    1
2010-08-06    1
2016-09-23    1
2014-11-07    1
2016-03-11    1
2008-09-25    1
2011-08-12    1
2008-08-22    1
2012-12-14    1
2011-06-24    1
2002-01-11    1
2007-02-02    1
2009-11-20    1
2004-02-14    1
2010-02-05    1
2002-03-01    1
2008-12-05    1
2013-06-06    1
2009-07-10    1
2012-05-04    1
Name: Closing Date, Length: 243, dtype: int64

In [131]:
%time close_timestamps.dt.day.value_counts()

Wall time: 3 ms

23    31
30    30
19    30
20    27
17    23
16    22
4     21
18    21
7     20
15    20
2     20
14    20
24    19
28    18
27    18
22    18
11    18
21    17
29    16
26    15
5     15
13    14
10    14
8     14
6     14
25    13
12    10
9     10
31     8
1      8
3      3
Name: Closing Date, dtype: int64

In [134]:
 import requests

In [142]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [146]:
%time resp = requests.get(url)

Wall time: 2.01 s

In [147]:
data = resp.json()
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29241',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29241/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29241/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29241/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/29241',
  'id': 512980469,
  'node_id': 'MDU6SXNzdWU1MTI5ODA0Njk=',
  'number': 29241,
  'title': 'merge vs. join - unify parameter names',
  'user': {'login': 'stefansimik',
   'id': 6208056,
   'node_id': 'MDQ6VXNlcjYyMDgwNTY=',
   'avatar_url': 'https://avatars3.githubusercontent.com/u/6208056?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/stefansimik',
   'html_url': 'https://github.com/stefansimik',
   'followers_url': 'https://api.github.com/users/stefansimik/followers',
   'following_url': 'https://api.github.com/users/stefansimik/following{/other_user}',
   'gists_url': 'https://api.github.com/users/stefansimik/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/stefansimik/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/stefansimik/subscriptions',
   'organizations_url': 'https://api.github.com/users/stefansimik/orgs',
   'repos_url': 'https://api.github.com/users/stefansimik/repos',
   'events_url': 'https://api.github.com/users/stefansimik/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/stefansimik/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-27T15:23:52Z',
  'updated_at': '2019-10-27T15:37:27Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'body': "#### Problem description\r\n\r\n`pandas.DataFrame.merge` function is conceptually simillar like `pandas.DataFrame.join` function.\r\n(first one one merges on specified columns, second merges on index).\r\n\r\nThese 2 functions use various parameters to do the same thing:\r\n* `join` function has 2 params:  `lsuffix + rsuffix`\r\n* `merge` function has only 1 param: `suffixes`\r\n\r\nWe should unify names and usage of these parameter(s).\r\nLet's use first way or second way, and deprecate the other way.\r\n\r\n_(Personally, I prefer to have only 1 param `suffixes` as it is shorter and there is 1 param for 1 purpose)._\r\n#### Expected Output\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : None\r\npython           : 3.7.4.final.0\r\npython-bits      : 64\r\nOS               : Windows\r\nOS-release       : 7\r\nmachine          : AMD64\r\nprocessor        : Intel64 Family 6 Model 79 Stepping 1, GenuineIntel\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : None\r\nLOCALE           : None.None\r\n\r\npandas           : 0.25.2\r\nnumpy            : 1.16.5\r\npytz             : 2019.3\r\ndateutil         : 2.8.0\r\npip              : 19.2.3\r\nsetuptools       : 41.4.0\r\nCython           : None\r\npytest           : None\r\nhypothesis       : None\r\nsphinx           : None\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : None\r\nlxml.etree       : 4.4.1\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 2.10.3\r\nIPython          : 7.8.0\r\npandas_datareader: None\r\nbs4              : None\r\nbottleneck       : None\r\nfastparquet      : None\r\ngcsfs            : None\r\nlxml.etree       : 4.4.1\r\nmatplotlib       : 3.1.1\r\nnumexpr          : None\r\nodfpy            : None\r\nopenpyxl         : 3.0.0\r\npandas_gbq       : None\r\npyarrow          : 0.14.1\r\npytables         : None\r\ns3fs             : None\r\nscipy            : 1.3.1\r\nsqlalchemy       : None\r\ntables           : None\r\nxarray           : None\r\nxlrd             : 1.2.0\r\nxlwt             : None\r\nxlsxwriter       : None\r\n\r\n</details>\r\n"},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29240',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29240/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29240/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29240/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/29240',
  'id': 512907508,
  'node_id': 'MDU6SXNzdWU1MTI5MDc1MDg=',
  'number': 29240,
  'title': 'Trying to use to_sql on dataframe with numpy.ndarray columns causes ValueError',
  'user': {'login': 'kjfergu',
   'id': 9022843,
   'node_id': 'MDQ6VXNlcjkwMjI4NDM=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/9022843?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/kjfergu',
   'html_url': 'https://github.com/kjfergu',
   'followers_url': 'https://api.github.com/users/kjfergu/followers',
   'following_url': 'https://api.github.com/users/kjfergu/following{/other_user}',
   'gists_url': 'https://api.github.com/users/kjfergu/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/kjfergu/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/kjfergu/subscriptions',
   'organizations_url': 'https://api.github.com/users/kjfergu/orgs',
   'repos_url': 'https://api.github.com/users/kjfergu/repos',
   'events_url': 'https://api.github.com/users/kjfergu/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/kjfergu/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2019-10-27T01:44:31Z',
  'updated_at': '2019-10-27T06:04:42Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': 'I am trying out using pandas+sqlalchemy (specifically sqlite) as a means to store my data. In my use case, I will have a number of rows where most will be obvious types such as string, int, float, etc - but I will want to store a few numpy ndarrays. In the example below, each \'channel\' entry is a 1x3000 array of floats. For higher dimensional arrays (at most 2D) I plan to store the shape of the data alongside the flattened array, so this is all I need.\r\n\r\n#### Code Sample, a copy-pastable example if possible\r\n\r\nThis was run in Jupyter Lab.\r\n\r\n```python\r\nimport sqlalchemy\r\nimport numpy as np\r\nimport pandas as pd\r\n\r\nengine = sqlalchemy.create_engine(\'sqlite:///:memory:\')\r\nallPts = []\r\n\r\nfor i in range(0,30):\r\n    name = "R"+str(i).zfill(3)\r\n    start = np.random.rand()\r\n    end = np.random.rand()\r\n    data = np.random.random((4,3000))\r\n    thisDict = {\'name\':name,\'start\':start,\'end\':end,\'channel1\':data[:,0],\'channel2\':data[:,1],\'channel3\':data[:,2],\'channel4\':data[:,3]}\r\n    allPts.append(pd.Series(thisDict))\r\nasDF = pd.DataFrame(allPts)\r\nasDF.to_sql(\'dftest\',engine,if_exists=\'replace\')\r\n```\r\n\r\nThis produces the traceback\r\n\r\n```\r\n---------------------------------------------------------------------------\r\nValueError                                Traceback (most recent call last)\r\n<ipython-input-30-e1fb02c5da64> in <module>\r\n----> 1 asDF.to_sql(\'dftest\',engine,if_exists=\'replace\')\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\pandas\\core\\generic.py in to_sql(self, name, con, schema, if_exists, index, index_label, chunksize, dtype, method)\r\n   2710             chunksize=chunksize,\r\n   2711             dtype=dtype,\r\n-> 2712             method=method,\r\n   2713         )\r\n   2714 \r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\pandas\\io\\sql.py in to_sql(frame, name, con, schema, if_exists, index, index_label, chunksize, dtype, method)\r\n    516         chunksize=chunksize,\r\n    517         dtype=dtype,\r\n--> 518         method=method,\r\n    519     )\r\n    520 \r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\pandas\\io\\sql.py in to_sql(self, frame, name, if_exists, index, index_label, schema, chunksize, dtype, method)\r\n   1318         )\r\n   1319         table.create()\r\n-> 1320         table.insert(chunksize, method=method)\r\n   1321         if not name.isdigit() and not name.islower():\r\n   1322             # check for potentially case sensitivity issues (GH7815)\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\pandas\\io\\sql.py in insert(self, chunksize, method)\r\n    754 \r\n    755                 chunk_iter = zip(*[arr[start_i:end_i] for arr in data_list])\r\n--> 756                 exec_insert(conn, keys, chunk_iter)\r\n    757 \r\n    758     def _query_iterator(\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\pandas\\io\\sql.py in _execute_insert(self, conn, keys, data_iter)\r\n    668         """\r\n    669         data = [dict(zip(keys, row)) for row in data_iter]\r\n--> 670         conn.execute(self.table.insert(), data)\r\n    671 \r\n    672     def _execute_insert_multi(self, conn, keys, data_iter):\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\engine\\base.py in execute(self, object_, *multiparams, **params)\r\n    986             raise exc.ObjectNotExecutableError(object_)\r\n    987         else:\r\n--> 988             return meth(self, multiparams, params)\r\n    989 \r\n    990     def _execute_function(self, func, multiparams, params):\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\sql\\elements.py in _execute_on_connection(self, connection, multiparams, params)\r\n    285     def _execute_on_connection(self, connection, multiparams, params):\r\n    286         if self.supports_execution:\r\n--> 287             return connection._execute_clauseelement(self, multiparams, params)\r\n    288         else:\r\n    289             raise exc.ObjectNotExecutableError(self)\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\engine\\base.py in _execute_clauseelement(self, elem, multiparams, params)\r\n   1105             distilled_params,\r\n   1106             compiled_sql,\r\n-> 1107             distilled_params,\r\n   1108         )\r\n   1109         if self._has_events or self.engine._has_events:\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\engine\\base.py in _execute_context(self, dialect, constructor, statement, parameters, *args)\r\n   1251         except BaseException as e:\r\n   1252             self._handle_dbapi_exception(\r\n-> 1253                 e, statement, parameters, cursor, context\r\n   1254             )\r\n   1255 \r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\engine\\base.py in _handle_dbapi_exception(self, e, statement, parameters, cursor, context)\r\n   1473                 util.raise_from_cause(sqlalchemy_exception, exc_info)\r\n   1474             else:\r\n-> 1475                 util.reraise(*exc_info)\r\n   1476 \r\n   1477         finally:\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\util\\compat.py in reraise(tp, value, tb, cause)\r\n    151         if value.__traceback__ is not tb:\r\n    152             raise value.with_traceback(tb)\r\n--> 153         raise value\r\n    154 \r\n    155     def u(s):\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\engine\\base.py in _execute_context(self, dialect, constructor, statement, parameters, *args)\r\n   1227                 if not evt_handled:\r\n   1228                     self.dialect.do_executemany(\r\n-> 1229                         cursor, statement, parameters, context\r\n   1230                     )\r\n   1231             elif not parameters and context.no_parameters:\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\engine\\default.py in do_executemany(self, cursor, statement, parameters, context)\r\n    575 \r\n    576     def do_executemany(self, cursor, statement, parameters, context=None):\r\n--> 577         cursor.executemany(statement, parameters)\r\n    578 \r\n    579     def do_execute(self, cursor, statement, parameters, context=None):\r\n\r\nValueError: could not convert BLOB to buffer\r\n```\r\n\r\n#### Problem description\r\n\r\nI notice that the bottom of the traceback specifies the error started in sqlalchemy - though for all my googling I can\'t find any record of this problem (or error message) anywhere either with sqlalchemy or pandas. I\'m *assuming* this means I probably am doing something wrong, but I\'m not seeing it when looking at docs etc. Storing a numpy array as a binary blob makes sense to me, so I feel like the type inference makes sense.\r\n\r\n#### Expected Output\r\n\r\nWriting to the database/no error. :)\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\n[paste the output of ``pd.show_versions()`` here below this line]\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : None\r\npython           : 3.7.4.final.0\r\npython-bits      : 64\r\nOS               : Windows\r\nOS-release       : 10\r\nmachine          : AMD64\r\nprocessor        : Intel64 Family 6 Model 158 Stepping 11, GenuineIntel\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : None\r\nLOCALE           : None.None\r\n\r\npandas           : 0.25.1\r\nnumpy            : 1.17.3\r\npytz             : 2019.3\r\ndateutil         : 2.8.0\r\npip              : 19.3\r\nsetuptools       : 40.8.0\r\nCython           : None\r\npytest           : None\r\nhypothesis       : None\r\nsphinx           : None\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : None\r\nlxml.etree       : None\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 2.10.3\r\nIPython          : 7.8.0\r\npandas_datareader: None\r\nbs4              : None\r\nbottleneck       : None\r\nfastparquet      : None\r\ngcsfs            : None\r\nlxml.etree       : None\r\nmatplotlib       : 3.1.1\r\nnumexpr          : 2.7.0\r\nodfpy            : None\r\nopenpyxl         : None\r\npandas_gbq       : None\r\npyarrow          : None\r\npytables         : None\r\ns3fs             : None\r\nscipy            : 1.3.1\r\nsqlalchemy       : 1.3.10\r\ntables           : 3.6.0\r\nxarray           : None\r\nxlrd             : None\r\nxlwt             : None\r\nxlsxwriter       : None\r\n\r\n</details>\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29239',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29239/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29239/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29239/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29239',
  'id': 512885663,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzMyODAxNzE4',
  'number': 29239,
  'title': 'BENCH: Improve perf of rolling.Apply.time_rolling',
  'user': {'login': 'qwhelan',
   'id': 440095,
   'node_id': 'MDQ6VXNlcjQ0MDA5NQ==',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/440095?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/qwhelan',
   'html_url': 'https://github.com/qwhelan',
   'followers_url': 'https://api.github.com/users/qwhelan/followers',
   'following_url': 'https://api.github.com/users/qwhelan/following{/other_user}',
   'gists_url': 'https://api.github.com/users/qwhelan/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/qwhelan/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/qwhelan/subscriptions',
   'organizations_url': 'https://api.github.com/users/qwhelan/orgs',
   'repos_url': 'https://api.github.com/users/qwhelan/repos',
   'events_url': 'https://api.github.com/users/qwhelan/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/qwhelan/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-26T21:06:21Z',
  'updated_at': '2019-10-26T21:06:21Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29239',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29239',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29239.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29239.patch'},

In [149]:
data[0]['title']

'merge vs. join - unify parameter names'

In [151]:
issues = pd.DataFrame(data, columns=['number', 'title','labels', 'state'])
issues

,number,title,labels,state
0,29241,merge vs. join - unify parameter names,[],open
1,29240,Trying to use to_sql on dataframe with numpy.n...,[],open
2,29239,BENCH: Improve perf of rolling.Apply.time_rolling,[],open
3,29237,Replace _has_complex_internals #29227,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
4,29236,DOCS: Formatting Errors pandas.TimedeltaIndex,[],open
5,29235,Categories reordered to alphabetical when plot...,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
6,29234,BUG: PeriodEngine doesn't work,[],open
7,29233,read_csv encode operation on source,"[{'id': 47229171, 'node_id': 'MDU6TGFiZWw0NzIy...",open
8,29232,CLN: assorted cleanups,[],open
9,29229,API/DOC: an ExtensionDtype.__from_arrow__ meth...,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
10,29228,CLN: prevent libreduction TypeError,[],open
11,29227,Replace _has_complex_internals with isinstance...,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
12,29226,Remove TestData in frame tests in multiple fil...,[],open
13,29224,Period index 29204,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
14,29223,CI: include pyarrow 0.15.0 / latest release in...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
15,29220,Remove TestData in series tests indexing,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
16,29218,ENH: Show column name in assert_frame_equal,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
17,29217,In read_excel parse_date=False is not working,"[{'id': 49254273, 'node_id': 'MDU6TGFiZWw0OTI1...",open
18,29216,# noqa removal in code base,[],open
19,29214,CI/TST: Better information about the tests in ...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
20,29213,BUG: pd.Dataframe.from_dict when first value i...,[],open
21,29212,CI: Drop Python 3.5 support,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
22,29211,Adding test for assert_equal_index with empty ...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
23,29208,REF: Dependency Structure Simplification,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
24,29205,TYPING: Added types for some tests,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
25,29204,DOCS: docstrings formatting errors in pandas.P...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
26,29203,Improve docs on what the axis= kwarg does in i...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
27,29197,MyPy Error Codes,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
28,29193,Test For MultiIndex not contained item,"[{'id': 71268330, 'node_id': 'MDU6TGFiZWw3MTI2...",open
29,29192,Removed generate_bins_generic,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open

In [152]:
import sqlite3

In [156]:
query = """ 
        CREATE TABLE test
        (a VARCHAR(20), b VARCHAR(20),
        c REAL, d INTEGER );"""

In [154]:
query

' CREATE TABLE test(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER );'

In [157]:
print(query)

        CREATE TABLE test
        (a VARCHAR(20), b VARCHAR(20),
        c REAL, d INTEGER );

In [158]:
con = sqlite3.connect('mydata.sqlite')

In [161]:
con.execute(query)

OperationalError: table test already exists

In [162]:
con.commit()

In [166]:
data = [('Atlanta', 'Georgia', 1.25, 6),
       ('Tallahassee', 'Florida', 2.6, 3),
     ('Sacramento', 'California', 1.7, 5)]

In [170]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()
stmt

'INSERT INTO test VALUES(?, ?, ?, ?)'

In [172]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]